* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.red {
  width: 280px;
  background-color: red;
  height: 500px;
}
@media screen and (min-width: 768px) {
  .red {
    width: 500px;
    height: 200px;
    background-color: gray;
  }
}
@media screen and (min-width: 1200px) {
  .red {
    width: 1100px;
    height: 100px;
    background-color: gold;
  }
}

.yellow {
  width: 450px;
  height: 120px;
  display: none;
  border-radius: 4px;
  background: yellow;
}
@media screen and (min-width: 768px) {
  .yellow {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .yellow {
    width: 270px;
    display: block;
  }
}

.divvv {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: tomato;
}