:root {
  --main-color: black;
  --accent-color: blue;
  --svg--color: yellow;
  --svg-hover-color: green;
}

.warning, .true, .error {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.hero {
  padding: 100px;
}

.hero-heading {
  font-size: 60px;
  text-transform: uppercase;
  color: var(--main-color);
}

.error {
  background-color: red;
}

.hero {
  border: 5px solid red;
  border-radius: 20px;
  width: 100%;
  height: 600px;
}

.adventages {
  color: red;
  width: 100%;
  height: 600px;
  border: 10px dashed green;
  border-radius: 5px;
}

.friends-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.friends-item {
  margin-left: 120px;
  margin-left: 2020px;
}

.team {
  padding: 111px;
}

div {
  font-size: 200px;
  font-weight: 700;
}
div:hover {
  font-size: 24px;
}
div::before {
  content: "";
}
div::after {
  content: "";
}
div:not(:last-child) {
  margin: 10px;
}
div::-moz-selection {
  background-color: yellow;
}
div::selection {
  background-color: yellow;
}

.p {
  color: chocolate;
}

.true {
  background-color: green;
}

.warning {
  background-color: orange;
  color: red;
}