* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

body {
  height: 10000px;
  background-color: grey;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.no-scroll {
  overflow: hidden;
}
.backdrop.is-hidden {
  /* background-color: rgba(0, 0, 0, 0); */
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 528px;
  height: 581px;
  background-color: blue;
  transform: translate(-50%, -50%);
}
