/* універсальний селектор(*) - звертається до кожного елементу на сторінці */

/* * {
  
  background-color: brown;
} */

/* селектор класу (.) звертається до усіх елементів у яких є атрибут клас з такою назвою (назву треба написати 
після .) */

.class2 {
  background-color: aqua;
}

/* селектор тегу  -  обирає за назвою тегу усі теги з такою назвою на сторінці і задає їм стилі які ви забажаєте*/
a {
  text-decoration: none;
  color: blue;
}

section {
  background-color: #212121;
}

section {
  background-color: brown;
}

/* селектор групи тегів - працює точно так же як селектор тегу, можемо звернутись до великої кількості тегів 
через кому
*/

ul,
ol {
  list-style: none;
}

/*
 селектор ID - селектор(#) після рещітки треба вказати назву id до якого звертаємось
 ми обираємо елемент з вказаним ID і надаємо йому стилів 
 */

/* #q {
  background-color: red;
} */

/* селектор атрибуту [] =  спочатку записуємо назву тегу який шукаємо потім у квадратних дужочках записуємо
атрибут та його значення тобто налаштування тегу за яким будемо шукати елемент
*/

button[type='submit'] {
  background-color: #2196f3;
}

button[type='reset'] {
  background-color: #212121;
}

/* комбінований селектор */
.class1 li {
}

/* 
дочірній селектор > =  спочатки знаходимо батьківський тег від нього ставимо селектор (>) вказуємо дочірній тег
(вкладений тег) після чого можна вказувати стилі для дочірнього тегу.
*/

header > nav[class='nav'] {
  background-color: white;
}

.list-item {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

/*------------------------------------ Section hero -----------------------*/

.hero {
  background-color: black;
  text-align: center;
}

.hero__heading {
  width: 696px;
  height: 120px;

  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  margin: 0 auto;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.hero__button {
  width: 216px;
  height: 50px;

  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  outline: none;
  border: none;
}

.hero__button--text {
  display: block;

  width: 152px;
  height: 30px;

  margin: 0 auto;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  letter-spacing: 0.06em;

  color: #ffffff;
}

.hero {
  background-color: greenyellow;
}

/* --------------------- секція наша команда --------------- */

.section1 {
  background-color: #f5f4fa;
}

.h2 {
  width: 264px;
  height: 42px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.class2 {
  width: 270px;
  height: 368px;

  /* important на крайні випадки,дає найвищій приорітет css правилу */
  background-color: #ffffff !important;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.img {
  width: 270px;
  height: 260px;
}

.h3 {
  height: 19px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.p {
  height: 19px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 19px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.03em;

  /* color: #757575; */
}

.section-title + p + p {
  color: red;
}

.section > p {
  color: blue;
}

body {
  color: blueviolet;
  font-size: 24px;
  border: 5px dashed red;
}

header {
  border: inherit;
}

nav {
  border: inherit;
}

h2 {
  color: red;
  font-size: 50px;
}

.box {
  width: 300px;
  height: 300px;

  background-color: red;
}

.box:hover {
  background-color: blue;
}

.box:active {
  background-color: green;
}

/* a:link {
  color: brown;
  font-size: 26px;
} */

.a {
  color: cadetblue;
  /* font-size: 100px; */
}

.a:visited {
  text-decoration: underline;
}

.button:not([type='button'], [type='reset'], [type='menu']) {
  border-radius: 50%;
}
.button[type='submit'] {
  border-radius: 50%;
}

.li:nth-child(even) {
  background-color: gold;
}

.li:nth-child(odd) {
  background-color: green;
}

.li:nth-child(3n) {
  background-color: blue;
}

.li:first-child {
  background-color: tomato;
}
.li:last-child {
  background-color: turquoise;
}

.box:empty {
  background-color: lime;
}
