* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

.block {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%;
  height: 100vh;
  background-color: red;
  /* position: relative; */
  z-index: 10;

  transform: translateX(-90%);

  transition: transform 0.5s linear;
}

.block:hover {
  transform: translateX(0%);
}

.menu-here {
  position: fixed;
  font-size: 32px;
  top: 50%;
  right: -52px;
  transform: rotate(90deg) translateX(-50%);
  opacity: 1;
  transition: opacity 0.25s linear;

  /* right: ;
  bottom: ; */
}

.block:hover .menu-here {
  opacity: 0;
}

.button {
  width: 100px;
  height: 100px;
  background-color: aqua;

  position: relative;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
  /* animation-name: назва яка каже яку анімацію використовувати - назва анімації */
  animation-name: bounceShoc;
  /* animation-duration : тривалість анімації */
  animation-duration: 1s;
  /*  поводження елементу в часі під час анімації */
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  /* animation-delay: ; */
  animation-fill-mode: both;
  /* властивість яка дозволяє вказати кількість повторень анімації */
  animation-iteration-count: infinite;
  /* вказує на те як себе поводить анімація чи буде вона без ривків чи з ривками */
  animation-direction: alternate;
}

@keyframes bounceShoc {
  0% {
    background-color: aqua;
    top: 50%;
    left: 50%;
  }

  20% {
    background-color: red;
    top: 40%;
    left: 40%;
  }

  40% {
    background-color: blue;
    top: 30%;
    left: 30%;
  }

  60% {
    background-color: green;
    top: 20%;
    left: 20%;
  }
  100% {
    background-color: brown;
    top: 0%;
    left: 0%;
  }
  /* 0% = from
    100% = to */
}
