// part = partial = частина (шматочок)

// Всі змінні які пишуться всередені фігурних дужок є локальними тобіш доступними тільки у цьому класі або всередені цих же фігурних дужок
.adventages {
  $color: red;
  color: $color;

  width: 100%;
  height: 600px;
  @include bordered(10px dashed green, 5px);
}
