// контейнер це клас який тримає увесь контент всередині себе по середені екрану, робить так щоб наш контент не приліпав до країв(padding) також ценрує контент(margin) має фіксований розмір(width)

.container {
  //mobile
  width: 280px;
  padding: 0 15px;
  margin: 0 auto;
  // планшет
  @media screen and (min-width: 768px) {
    width: 670px;
  }
  // PC
  @media screen and (min-width: 1200px) {
    width: 940px;
  }
}
