div {
  font-size: 200px;
  font-weight: 700;
  &:hover {
    font-size: 24px;
  }
  &::before {
    content: '';
  }
  &::after {
    content: '';
  }
  &:not(:last-child) {
    margin: 10px;
  }
  &::selection {
    background-color: yellow;
  }
}

.p {
  color: chocolate;
}
