.header {
  position: absolute;
  top: 20px;
  // НАступні дві строки коду центрують елемент по ширині по середині
  left: 50%;
  transform: translate(-50%, 0);

  //   display: flex;
}

.header-buttons {
  width: 83px;

  color: #ffffff;

  text-align: center;
  font-family: Montserrat;
  font-size: 13.986px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  &:last-child {
    width: 92px;
    height: 39px;
    border-radius: 15px;
    border: 2px solid #ffffff;
  }
}
