.header {
  padding-top: 6px;
}

.header-icon-menu {
  stroke: $accent-color;
  fill: $accent-color;
  width: 20px;
  height: 12px;
}

.header-button-menu {
  width: 20px;
  height: 12px;
  background-color: transparent;
  border: none;
  outline: none;
}
