.mob-menu {
  position: fixed;
  top: 0;
  right: 0;

  width: 250px;
  height: 100vh;

  padding: 27px 20px 0px 20px;

  background-color: $mobile-background;
  transform: translate(0);
  transition: transform 350ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.mob-menu.is-hidden {
  transform: translate(100%);
  transition: transform 350ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.mob-menu__button--close {
  display: block;
  margin-left: 185px;
  margin-bottom: 23px;

  background-color: transparent;
  border-radius: 50%;
  border: none;
  outline: none;
  width: 14px;
  height: 14px;

  cursor: pointer;
}

.mobile-menu-close {
  stroke: $svg-close;
  width: 14px;
  height: 14px;

  &:hover,
  &:active {
    stroke: $accent-color;
  }
}

.mobile-menu-buynow {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;

  width: 209px;
  height: 44px;

  border-radius: 22px;
  background: $svg-close;

  &:hover,
  &:active {
    background-color: $accent-color;
  }
  &:hover .button-text,
  &:active .button-text {
    color: $svg-close;
  }
  &:hover .mobile-menu-arrow,
  &:active .mobile-menu-arrow {
    stroke: $svg-close;
  }
}

.button-text {
  color: $accent-color;

  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-right: 15px;
}

.mobile-menu-arrow {
  stroke: $accent-color;
  fill: transparent;
  width: 10px;
  height: 15px;
}

.mobile-menu-item {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 23px;
  }

  &::before {
    content: '';
    position: absolute;

    width: 250px;
    height: 1px;

    top: -13px;
    left: -20px;

    background-color: $mobile-lines;
  }

  &::after {
    content: '';
    position: absolute;

    bottom: -11px;
    left: -20px;

    width: 250px;
    height: 1px;

    background-color: $mobile-lines;
  }
}

.mobile-menu-link {
  color: $svg-close;

  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  &:hover,
  &:active {
    color: $accent-color;
  }
}
