.red {
  width: 280px;
  background-color: red;
  height: 500px;

  // @media = деректива яка дозволяє нам оголосити медіа правило для адаптації нашого сайту

  // screen = перевіряє чи запускається наш сайт на кольоровому екрані

  // print = дозволяє зроби адаптацію під принтер факс тошо

  //  логічний операто І(and) вказує на те що ми використовуємо декілька  перевірки для приєднання стилів

  //(min-width: 320px)=мінімальна ширина = ми вказуємо мінімальну ширину екрану на якій мають з'явитись стилі які ми запишемо у цьому правилі

  // Такий вид адаптації називають АДАПТИВНИЙ тому що він breakpoint(точки зламу) змінюється під певний вид девайса

  @media screen and (min-width: 768px) {
    width: 500px;
    height: 200px;
    background-color: gray;
  }

  @media screen and (min-width: 1200px) {
    width: 1100px;
    height: 100px;
    background-color: gold;
  }
}

//  mobile-first = стилі для Сайту спочатку роблять для телефона

// desktop-first = Стилі для сайту роблять спочатку для PC

.yellow {
  width: 450px;
  height: 120px;

  display: none;

  border-radius: 4px;
  background: yellow;

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    display: block;
  }
}

// display:none

// @media screen and (min-width: 1200px) {
//   display: block;
// }

// - Фіксована верстка - блоки не змінюють ширину. На моніторах малого розміру з'являється горизонтальна полоса прокрутки. В наш час застаріла та використовується вкрай рідко.

// - Гнучка верстка - блоки змінюють свою ширину в залежності від ширини браузера. Ширина може набувати максимального та мінімального значення.(vh vw % em rem )Відносні одиниці вимірювання

// - Адаптивна (adaptive) верстка - втілюється за допомогою @media. Ключовими є пристрої з шириною 320, 768, 1024 і т.д. Будь-яка зміна відбувається ривками, по досягненню одного з вказаних рівнів.

// - Чутлива (responsive) верстка - це такий підхід до створення веб-сторінки, за якого зовнішній вигляд веб-сторінки визначається через CSS, базуючись на ширині вікна браузера. Це є поєднання гнучкої та адаптивної верстки. В реалізації - найважча. Але результат виходить найбільш придатний. Можна з впевненістю сказати, що сайт пристосується до будь-якого пристрою.

//  пошукові системи використовують ряд критеріїв для оцінки адаптивності сайту при перегляді на мобільних пристроях. Google намагається спростити користування Інтернетом для власників смартфонів та планшетів, помічаючи у видачі адаптовані сайті спеціальною міткою mobile-friendly.

// https://pagespeed.web.dev

// meta="viewport"
//  mobile first та desktop first

.divvv {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background-color: tomato;
}
