.container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.flex {
  @extend %flex-mobile;
}

// .is-hidden {
//   position: absolute;

//   width: 1px;
//   height: 1px;

//   margin: -1px;

//   border: 0;
//   padding: 0;
//   outline: 0;

//   outline-offset: 0;

//   visibility: hidden;
//   pointer-events: none;

//   white-space: nowrap;
//   clip-path: inset(100%);
//   clip: rect(0 0 0 0);

//   overflow: hidden;
// }
