// @mixin = функція
//  border = назва за якою ми будемо використовувати цей міксин
// () = Набір параметрів функції

// Всі змінні всередені круглих дужок мають значення які ви передаєте при використанні міксина.
// $border - ????
@mixin bordered($border, $borderRadius) {
  border: $border;
  border-radius: $borderRadius;
}

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin geometry($margin) {
  // * / = calc()
  // +- = можна просто записувати
  margin-left: $margin + 20px;
  margin-left: calc($margin * 20) + 20px;
  //   margin-left: $margin + 20px;
}
