:root {
  --main-color: black;
  --accent-color: blue;
  --svg--color: yellow;
  --svg-hover-color: green;
}

$button-text: grey;

$third-text-color: red;
$second-text-color: violet;

// vars = variable
