:root {
  --main-color: black;
  --accent-color: blue;
  --svg--color: yellow;
  --svg-hover-color: green;
}
// глобальна область бачимості = Змінна не обмежена фігурними дужками
$color: red;

$button-text: grey;

$third-text: black;

$third-text-color: red;
$second-text-color: violet;

// vars = variable
